*{
	padding: 0;
	margin: 0;
	font-family: Century Gothic;
}

.desktop-ul .responsive-elements{
	float: left;
	padding-left: 50px;
	padding-top: 12px;
	font-size: 20px;
	color: white;
}


.desktop-ul{
	background-color: #000;
	text-align: right;

}
.nav a{
	transition: all 0.1s;
}
.nav li:hover > a{
  color: #fff;
  text-shadow: 0 0 4px #24a;
}
ul{
	padding-right: 50px; 
}

.nav .li-buttons a{
	color: #0086DF;
	transition: all 0.2s;	
}

.nav .li-buttons{
	background-color: #fff;
	margin: 8px;
	padding: 6px 9px;
	border: 2px solid #fff;
	transition: all 0.2s;
}
.nav .li-buttons:hover{
	background-color: #000;
	margin: 8px;
	padding: 6px 9px;
	
}

.nav .li-buttons:hover > a{
	color: #fff;
}

.nav li{
	display: inline-block;
	padding: 14px 0;
	padding-right: 18px; 

}

.nav li a{
	text-decoration: none;
	color: #eee;

}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  
  font-family: 'Open Sans', sans-serif;
  
}

.search {
  width: 100%;
  position: relative;
  display: flex;

}

.searchTerm {
  width: 100%;
  border: 3px solid #FF0000;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #0086DF;

}

.searchTerm:focus{
  color: #0086DF;
}

.searchButton {
  width: 50px;
  height: 46px;
  border: 1px solid #FF0000;
  background: #FF0000;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cartel .slogan{
 
  position: absolute;
  left: 21%;
  top: 25%;
  font-size: 50px;
  color: white;
  background-color: #FF0000;
  padding: 10px;
}
#section{
    margin: auto;
    width: 1240px;
    height: 480px;
    border: 2px solid #000;
    position: relative;
    top: 50px;
    
}
.categorias{
    width: 440px;
    height: 480px;
    background: rgba(199,199,199,.4);
    border-right: 2px solid #000;
    position: absolute;
    top: 0px;
    
}
.restaurantes{
    width: 798px;
    height: 480px;
    background: rgba(255,153,153,.4);
    position: absolute;
    left: 440px;
    top: 0;
    border-left: 2px solid #000;
    
}

.cat1, .cat2, .cat3, .cat4, .cat5, .cat6{
    list-style: none;
    font-size: 30px;
    font-weight: bold;
    margin-top: 20px;
    margin-left: 40px;
    margin-bottom: -20px;
    padding: 10px 15px;
    background-color: #8080C0;
    border: 1px solid #000;
    color: #fff;
}
.cat1:hover, .cat2:hover, .cat3:hover, .cat4:hover, .cat5:hover, .cat6:hover{
    background-color: #71C6FF;
    color: #000;
}
.categorias .titulo{
    margin-top: 10px;
    margin-left: 40px;
    list-style: none;
    font-size: 40px;
    font-weight: bolder;
    text-align: center;
    background: #808080;
    padding: 10px 15px;
}
.resto1{
    width: 720px;
    height: 145px;
    border: 2px solid #000;
    margin: auto;
    margin-top: 15px;
    margin-bottom: -15px;
    
}
.resto1 h1{
    margin-top: -100px;
    margin-left: 250px;
}
.resto2{
    width: 720px;
    height: 145px;
    border-left: 2px solid #000;
    border-right: 2px solid #000;
    margin: auto;
    margin-top: 15px;
    margin-bottom: -15px;
    
}
.resto2 h1{
    margin-top: -100px;
    margin-left: 250px;
}
.resto3{
    width: 720px;
    height: 145px;
    border: 2px solid #000;
    margin: auto;
    margin-top: 15px;
}
.resto1, .resto2, .resto3{
    background: rgba(128,128,192,.4);
}
.resto3 h1{
    margin-top: -100px;
    margin-left: 250px;
}
.img1, .img2, .img3{
    max-width: 100%;
    margin: 7px 10px;
    border: 2px solid #000;
}
.boton1, .boton2, .boton3{
    background-color: red;
    margin-left: 580px;
    margin-top: 10px;
    font-size: 20px;
    padding: 5px;
    border-radius: 10px;
    color:#fff;
}
