*{
	padding: 0;
	margin: 0;
	font-family: Century Gothic;
}

.desktop-ul .responsive-elements{
	float: left;
	padding-left: 50px;
	padding-top: 12px;
	font-size: 20px;
	color: white;
        font-style: italic;
}


.desktop-ul{
	background-color: #000;
	text-align: right;

}
.nav a{
	transition: all 0.1s;
}
.nav li:hover > a{
  color: #fff;
  text-shadow: 0 0 4px #24a;
}
ul{
	padding-right: 50px; 
}

.nav .li-buttons a{
	color: #0086DF;
	transition: all 0.2s;	
}

.nav .li-buttons{
	background-color: #fff;
	margin: 8px;
	padding: 6px 9px;
	border: 2px solid #fff;
	transition: all 0.2s;
}
.nav .li-buttons:hover{
	background-color: #000;
	margin: 8px;
	padding: 6px 9px;
	
}

.nav .li-buttons:hover > a{
	color: #fff;
}

.nav li{
	display: inline-block;
	padding: 14px 0;
	padding-right: 18px; 

}

.nav li a{
	text-decoration: none;
	color: #eee;

}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  
  font-family: 'Open Sans', sans-serif;
  
}

.search {
  width: 100%;
  position: relative;
  display: flex;

}

.searchTerm {
  width: 100%;
  border: 3px solid #FF0000;
  border-right: none;
  padding: 5px;
  height: 30px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #0086DF;

}

.searchTerm:focus{
  color: #0086DF;
}

.searchButton {
  width: 50px;
  height: 46px;
  border: 1px solid #FF0000;
  background: #FF0000;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 40%;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cartel .slogan{
 
  position: absolute;
  left: 21%;
  top: 25%;
  font-size: 50px;
  color: white;
  background-color: #FF0000;
  padding: 10px;
}

