*{
	padding: 0;
	margin: 0;
	font-family: Century Gothic;
}

.desktop-ul .responsive-elements{
	float: left;
	padding-left: 50px;
	padding-top: 12px;
	font-size: 20px;
	color: white;
}


.desktop-ul{
	background-color: #000;
	text-align: right;

}
.nav a{
	transition: all 0.1s;
}
.nav li:hover > a{
  color: #fff;
  text-shadow: 0 0 4px #24a;
}
ul{
	padding-right: 50px; 
}

.nav .li-buttons a{
	color: #0086DF;
	transition: all 0.2s;	
}

.nav .li-buttons{
	background-color: #fff;
	margin: 8px;
	padding: 6px 9px;
	border: 2px solid #fff;
	transition: all 0.2s;
}
.nav .li-buttons:hover{
	background-color: #000;
	margin: 8px;
	padding: 6px 9px;
	
}

.nav .li-buttons:hover > a{
	color: #fff;
}

.nav li{
	display: inline-block;
	padding: 14px 0;
	padding-right: 18px; 

}

.nav li a{
	text-decoration: none;
	color: #eee;

}


@import url(https://fonts.googleapis.com/css?family=Open+Sans);

body{
  
  font-family: 'Open Sans', sans-serif;
  
}



#section{
    margin: auto;
    width: 1240px;
    height: 480px;
    border: 2px solid #000;
    position: relative;
    top: 50px;
    background: rgba(255,153,153,.4); 
    overflow: scroll;
}
#section h1{
    font-size: 25px;
    margin: 20px 90px;
}
.burguers{
    width: 670px;
    height: 240px;
    position: absolute;
    left: 80px;
    border-top: 2px solid #000;
    margin-top: -10px;
    
}
.burguer1{
    position: absolute;
    left: 10px;
    top: 10px;
    background: rgba(255,255,255,.8);
}
.burguer2{
    position: absolute;
    top: 10px;
    left: 240px;
    background: rgba(255,255,255,.8);
}
.burguer3{
    position: absolute;
    top: 10px;
    left: 470px;
    background: rgba(255,255,255,.8);
}
.burguer1 h3{
    font-family: sans-serif;
    padding-top: 5px;
    
}
.burguer2 h3{
    font-family: sans-serif;
    padding-top: 5px;
}
.burguer3 h3{
    justify-content: center;
    font-family: sans-serif;
    padding-top: 5px;
}
#section .titulopizza{
    font-size: 25px;
    margin-left: 90px;
    margin-top: 250px;
}
.pizzas{
    width: 670px;
    height: 240px;
    position: absolute;
    left: 80px;
    border-top: 2px solid #000;
    margin-top: -10px;
}
.pizza1{
    position: absolute;
    left: 10px;
    top: 10px;
    background: rgba(255,255,255,.8);
}
.pizza2{
    position: absolute;
    top: 10px;
    left: 240px;
    background: rgba(255,255,255,.8);
}
.pizza3{
    position: absolute;
    top: 10px;
    left: 470px;
    background: rgba(255,255,255,.8);
}
.pizza1 h3{
    font-family: sans-serif;
    padding-top: 5px;
}
.pizza2 h3{
    font-family: sans-serif;
    padding-top: 5px;
}
.pizza3 h3{
    justify-content: center;
    font-family: sans-serif;
    padding-top: 5px;
}
.cartel{
    width: 350px;
    height: 300px;
    margin-top: -250px;
    margin-left:820px;
    background-color: #FF2F2F;
    position: fixed;
}
